/* NAVIGATOR */
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
/* ------------------------------------------------------------*/
* {
    margin: 0;
}

.nav-container {
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: .2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    font-size: 1.1em;
    box-sizing: border-box;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.logo {
    grid-column: 1;
    background: url(../Images/logo/beard-logo.png);
    height: 120%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20%;
}

.tab-nav {
    outline: none;
    display: none;
    grid-column: 3;
}

.nav-checkbox input:checked ~ .tab-content {
    max-height: 25em;
    padding-bottom: .3em;
}

.tab-nav-label {
    cursor: pointer;
    grid-column: 3;
    display: block;
    color: black;
}

.tab-content {
    grid-column: 2;
    display: block;
    list-style: none;
    text-align: center;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
}

.tab-content li {
    display: block;
    padding-top: .625em;
}

.tab-content .link-style {
    text-decoration: none;
    color: black;
    position: relative;
    margin-left: 1em;
}

.tab-content .link-style::before {
    content: '';
    display: block;
    height: .1875em;
    background: black;
    position: absolute;
    bottom: -.3125em;
    left: 0;
    right: 0;
    transform-origin: left;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
.tab-content .link-style:hover::before {
    transform: scale(1,1);
}
.tab-content .link-style::after {
    content: '';
    display: block;
    height: .1875em;
    background: black;
    position: absolute;
    top: -.3125em;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
.tab-content .link-style:hover::after {
    transform: scale(1,1);
}

@media (min-width: 1200px) {
.tab-content {
display: block;
overflow: visible;
grid-column: 3/4;
list-style: none;
text-align: center;
margin-bottom: 20px;
}
.tab-content li {
padding: 0;
margin: 0 20px;
}
.nav-checkbox input:checked ~ .tab-content {
max-height: 0;
}
.nav-container {
    margin: 1em 0;
    padding: 0;
}
.tab-nav-label {
display: none;
}
.tab-content li {
display: inline-block;
}
.logo {
    height: 200%;
}
}