.project-background {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.project-background:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);

}
.project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project .block-hover {
    display: none;
    
}

.project-background:hover .block-hover {
    display: block;
}

.project-background:hover .block-focus {
    display: none;
    
}