.container-projects {
    margin: 2em 10%;
    display: grid;
    grid-template-areas: 
    "Project1 Project2"
    "Project3 Project4"
    "gh gh" 
    "Contact_home About_home";
    grid-template-rows: 11em 11em 11em 11em;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 1em;
}

.github-home{
    grid-area: gh;
}

@media (min-width: 1200px) {
    .container-projects {
        grid-template-areas: 
    "Project1 Project2 Project3 Project4"
    "gh gh Contact_home About_home";
    grid-template-rows: 11em 11em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2em 20%;
    }
}